.weatherbg
{
   background: url("https://images.hdqwalls.com/download/ocean-sunrise-z6-1440x900.jpg");
   height: 50vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content:center ;


}
.heading{
  font:700;
}
.weatherResultBox
{
  margin: auto;
  width: 400px;
  height: 300px;

}
.weathericon
{
  margin-top:2rem;;
  width: 100px;
  height: 100px;
}
.weathercity{
  font-size: 35px;
}
.weathertemp{
  font-size: 55px;
  font-weight: 700;
}